<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="Data Source=localhost\\SQLEXPRESS;Initial Catalog=dbcontent;User ID=sa;Password=Militao01++;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False" />
	</appSettings>
</configuration>
